{% extends "layout.html" %} {% block title %}Add Reference{% endblock %} {%
block head %} {{ super() }}
<link rel="stylesheet" href="/static/styles.css" />
{% endblock %} {% block body %} {% with messages = get_flashed_messages() %} {%
if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<div class="frame">
  <div class="title-bar">
    <h2>Add reference</h2>
    <div class="search-bar">
      <form id="reference-fetch-form" action="/fetch_reference" method="POST">
        <input type="text" id="doi_fetch" name="doi_fetch" placeholder="Enter DOI" oninput="filterTable()" />
        <input type="submit" class="button" value="Fetch Reference" />
      </form>
    </div>
  </div>

  <form id="reference-form" action="/add_reference" method="POST" onsubmit="return check(this)">
    <div class="row type-row">
      <label for="type">Reference Type:</label>
      <select id="reference_type" name="reference_type" onchange="updateFormFields()" required>
        <option value="" disabled selected>Select</option>
        <option value="article">Article</option>
        <option value="book">Book</option>
        <option value="misc">Misc</option>
        <option value="inproceedings">Inproceedings</option>
        <option value="booklet">Booklet</option>
        <option value="conference">Conference</option>
        <option value="inbook">Inbook</option>
        <option value="incollection">Incollection</option>
        <option value="manual">Manual</option>
        <option value="mastersthesis">Mastersthesis</option>
        <option value="phdthesis">Phdthesis</option>
        <option value="proceedings">Proceedings</option>
        <option value="techreport">Techreport</option>
        <option value="unpublished">Unpublished</option>
      </select>
    </div>
    <div id="form-fields"></div>
    <div class="button-container">
      <button style="margin-right: 8px; border: none" class="button" type="submit">
        Save Reference
      </button>
      <button style="border: none" class="button" type="button" onclick="window.location.href='/'">
        Cancel
      </button>
    </div>
  </form>

  {{message}}
</div>

<script src="../static/index.js"></script>

<script>
  if ("{{fetch_data}}") {
    const string2 = "{{fetch_data}}".replace(/&#34;/g, '"').replace(/False/g, "false").replace(/True/g, "true");
    const data = JSON.parse(string2);
    document.getElementById("doi_fetch").value = data.DOI;
    if (data.type.endsWith("-article")) {
      document.getElementById("reference_type").value = "article";
      updateFormFields();
      for (const field of referenceFields["article"].mandatory) {
        if (field == "author") document.getElementById(field).value = data[field].join(" and ");
        else document.getElementById(field).value = data[field];
      }
      for (const field of referenceFields["article"].optional) {
        if (data[field]) document.getElementById(field).value = data[field];
      }
    }
  }
</script>
{% endblock %}