{% extends "layout.html" %} {% block title %}Add Reference{% endblock %} {%
block head %} {{ super() }}
<link rel="stylesheet" href="/static/styles.css" />
{% endblock %} {% block body %} {% with messages = get_flashed_messages() %} {%
if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<div class="frame">
  <div class="info">
    <h2>Add Reference:</h2>
  </div>

  <form id="reference-fetch-form" action="/fetch_reference" method="POST">
    <div class="row">
      <label for="doi_fetch">Fetch by DOI:</label>
      <input id="doi_fetch" type="text" name="doi_fetch">
      <input type="submit" value="Fetch Reference" />
    </div>
  </form>

  <form id="reference-form" action="/add_reference" method="POST" onsubmit="return check(this)">
    <div class="row">
      <label for="type">Reference Type:</label>
      <select id="type" name="reference_type" onchange="updateFormFields()" required>
        <option value="" disabled selected>Select</option>
        <option value="article">Article</option>
        <option value="book">Book</option>
        <option value="misc">Misc</option>
        <option value="inproceedings">Inproceedings</option>
        <option value="booklet">Booklet</option>
        <option value="conference">Conference</option>
        <option value="inbook">Inbook</option>
        <option value="incollection">Incollection</option>
        <option value="manual">Manual</option>
        <option value="mastersthesis">Mastersthesis</option>
        <option value="phdthesis">Phdthesis</option>
        <option value="proceedings">Proceedings</option>
        <option value="techreport">Techreport</option>
        <option value="unpublished">Unpublished</option>
      </select>
    </div>
    <div class="row" id="form-fields"></div>
    <div class="button-container">
      <button style="margin-right: 8px; border: none" class="button" type="submit">
        Save Reference
      </button>
      <button style="border: none" class="button" type="button" onclick="window.location.href='/'">
        Cancel
      </button>
    </div>
  </form>

  {{message}}
</div>

<script>
  function check(form) {
    if (form.keyword.value.length > 20) {
      alert("Reference keyword length can't be greater than 20");
      return false;
    }
    if (form.keyword.value.length == 0) {
      alert("Reference keyword length can't be empty");
      return false;
    }
    if (form.author.value.length < 3 && form.author.value.length > 0) {
      alert("Reference author length must be greater than 2");
      return false;
    }
    if (
      (form.title.value.length > 100 || form.title.value.length < 3) &&
      form.title.value.length > 0
    ) {
      alert(
        "Reference title length must be smaller than 100 and greater than 2"
      );
      return false;
    }
    if (form.journal.value.length < 3 && form.journal.value.length > 0) {
      alert("Reference journal length must be greater than 2");
      return false;
    }
    if (
      (parseInt(form.year.value) <= 0 || parseInt(form.year.value) > 2024) &&
      form.year.value.length > 0
    ) {
      alert("Reference year must be positive and smaller than 2025");
      return false;
    }
  }

  const referenceFields = {
    article: {
      mandatory: ["author", "title", "journal", "year"],
      optional: ["volume", "number", "pages", "month", "note"],
    },
    book: {
      mandatory: ["author", "title", "publisher", "editor", "year"],
      optional: [
        "volume",
        "number",
        "series",
        "type",
        "chapter",
        "pages",
        "address",
        "edition",
        "month",
        "note",
      ],
    },
    misc: {
      mandatory: [],
      optional: ["author", "title", "howpublished", "month", "year", "note"],
    },
    inproceedings: {
      mandatory: ["author", "title", "booktitle", "year"],
      optional: [
        "editor",
        "volume",
        "number",
        "series",
        "pages",
        "address",
        "month",
        "organization",
        "publisher",
      ],
    },
    booklet: {
      mandatory: ["author", "title", "howpublished", "year", "address"],
      optional: [
        "editor",
        "volume",
        "number",
        "series",
        "organization",
        "month",
        "note",
      ],
    },
    conference: {
      mandatory: ["author", "title", "booktitle", "year"],
      optional: [
        "editor",
        "volume",
        "number",
        "series",
        "pages",
        "address",
        "month",
        "organization",
        "publisher",
        "note",
      ],
    },
    inbook: {
      mandatory: ["author", "title", "booktitle", "publisher", "year"],
      optional: [
        "editor",
        "volume",
        "number",
        "series",
        "address",
        "edition",
        "month",
        "pages",
        "note",
      ],
    },
    incollection: {
      mandatory: ["author", "title", "booktitle", "publisher", "year"],
      optional: [
        "editor",
        "volume",
        "number",
        "series",
        "pages",
        "address",
        "month",
      ],
    },
    manual: {
      mandatory: ["title", "year"],
      optional: [
        "author",
        "organization",
        "address",
        "edition",
        "month",
        "note",
      ],
    },
    mastersthesis: {
      mandatory: ["author", "title", "school", "year"],
      optional: ["type", "address", "month", "note"],
    },
    phdthesis: {
      mandatory: ["author", "title", "school", "year"],
      optional: ["type", "address", "month", "note"],
    },
    proceedings: {
      mandatory: ["title", "year"],
      optional: [
        "editor",
        "volume",
        "number",
        "series",
        "address",
        "month",
        "publisher",
      ],
    },
    techreport: {
      mandatory: ["author", "title", "institution", "year"],
      optional: ["type", "number", "address", "month", "note"],
    },
    unpublished: {
      mandatory: ["author", "title", "note"],
      optional: ["month", "year"],
    },
  };
  const updateFormFields = () => {
    const type = document.getElementById("type").value;
    const fields = referenceFields[type];
    const formFieldsDiv = document.getElementById("form-fields");
    formFieldsDiv.innerHTML = "";

    // mandatory fields
    const mandatory = ["keyword", ...fields.mandatory];
    const mandatoryDiv = document.createElement("div");
    mandatoryDiv.classList.add("field_group");
    mandatoryDiv.classList.add("required");
    for (const field of mandatory) {
      mandatoryDiv.appendChild(createField(field, true));
    }
    formFieldsDiv.appendChild(mandatoryDiv);
    const separator = document.createElement("div");
    separator.classList.add("separator");
    formFieldsDiv.appendChild(separator);

    // optional fields
    const optionalDiv = document.createElement("div");
    optionalDiv.classList.add("field_group");
    optionalDiv.classList.add("optional");
    for (const field of fields.optional) {
      optionalDiv.appendChild(createField(field, false));
    }
    formFieldsDiv.appendChild(optionalDiv);
  };

  const createField = (field, required) => {
    const row = document.createElement("div");
    row.classList.add("row");
    row.classList.add(required ? "required" : "optional");

    const label = document.createElement("label");
    label.setAttribute("for", field);
    label.innerText = (
      field.charAt(0).toUpperCase() +
      field.slice(1) +
      ":"
    ).replace(/_/g, " ");

    const input = document.createElement("input");
    input.type = "text";
    input.name = field;
    input.id = field;
    input.required = required;
    row.appendChild(label);
    row.appendChild(input);
    return row;
  };

  if ("{{fetch_data}}") {
    const string2 = "{{fetch_data}}".replace(/&#34;/g, '"').replace(/False/g, "false").replace(/True/g, "true");
    const data = JSON.parse(string2);
    document.getElementById("doi_fetch").value = data.DOI;
    if (data.type.endsWith("-article")) {
      document.getElementById("type").value = "article";
      updateFormFields();
      for (const field of referenceFields["article"].mandatory) {
        if (field == "author") document.getElementById(field).value = data[field].join(" and ");
        else document.getElementById(field).value = data[field];
      }
      for (const field of referenceFields["article"].optional) {
        if (data[field]) document.getElementById(field).value = data[field];
      }
    }
  }
</script>
{% endblock %}