{% extends "layout.html" %} {% block title %}Modify Reference{% endblock %} {%
block head %} {{ super() }}
<link rel="stylesheet" href="/static/styles.css" />
{% endblock %} {% block body %} {% with messages = get_flashed_messages() %} {%
if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}



<form id="modify-form" action="/modify_reference/{{r.id}}" method="POST" onsubmit="return check(this)">
  <div class="frame">
    <div class="title-bar">
      <h2>Modify reference</h2>
    </div>
    <div class="row">
      <label for="keyword">Reference type:</label>
      <input type="text" name="reference_type" id="reference_type" value="" readonly>
    </div>
    <div class="row">
      <label for="keyword">Keyword:</label>
      <input type="text" name="keyword" id="keyword" value="{{ r.keyword }}" readonly>
    </div>
    <div class="row" id="form-fields"></div>
    <div class="button-container">
      <input type="submit" class="button" value="Save Changes" />
      <button type="button" class="button" onclick="window.location.href='/'">Cancel</button>
    </div>
    {{message}}
  </div>
</form>

<script src="../static/index.js"></script>

<script>
  const ref_string = "{{reference}}".replace(/&#34;/g, '"').replace(/False/g, "false").replace(/True/g, "true");
  const data = JSON.parse(ref_string);
  document.getElementById("reference_type").value = data.reference_type;
  updateFormFields(true);
</script>
{% endblock %}