:root {
  --bg-clr: #b3b3b3;
  --white: #fff;
  --invoice-bg: #e7e7e9;
  --primary-clr: #2f2929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

div.row {
  display: table-row;
}

h1 {
  margin-top: 10px;
}

body {
  background: var(--bg-clr);
  font-size: 12px;
  line-height: 20px;
  color: var(--primary-clr);
  padding: 0 20px;
}

ul {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2em;
}

li {
  line-height: 1.5;
  margin-left: 2em;
}

label {
  display: table-cell;
  text-align: right;
  font-size: 14px;
  line-height: 40px;
  padding: 0 40px;
  font-weight: 500;
  min-width: 260px;
  max-width: 260px;
}

input {
  display: table-cell;
  font-size: 14px;
}

form input[type="submit"],
button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 2em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

input {
  display: table-cell;
  font-size: 14px;
}

.frame {
  padding: 8px;
  width: 800px;
  max-width: 100%;
  height: auto;
  background: var(--white);
  margin: 20px auto;
}

thead {
  text-align: left;
}

td,
th {
  padding: 2px 8px;
}

.reference_row:nth-child(odd) {
  background-color: #e7e7e9;
}

.field_group {
  padding-right: 12px;
  margin-bottom: 12px;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #2f2929;
  margin-bottom: 12px;
}

.row {
  position: relative;
}

.row.required::after {
  display: block;
  content: '*';
  position: absolute;
  font-size: 24px;
  left: 100%;
  top: 50%;
  transform: translateY(-20%);
  padding-left: 12px;
  color: red;
}
