:root {
  --bg-clr: #b3b3b3;
  --white: #fff;
  --invoice-bg: #e7e7e9;
  --primary-clr: #2f2929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  margin-top: 10px;
}

.row {
  display: table-row;
}

.norefs {
  margin: 20px;
}

body {
  background: var(--bg-clr);
  font-size: 12px;
  color: var(--primary-clr);
  padding: 20px;
}

ul {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 1em;
}

li {
  margin-left: 1em;
}

label {
  display: table-cell;
  text-align: right;
  font-size: 14px;
  line-height: 30px;
  padding: 0 30px;
  font-weight: 500;
  min-width: 260px;
  max-width: 260px;
}

input {
  display: table-cell;
  font-size: 14px;
}

/* form input[type="submit"],
button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 2em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
} */

.button {
  background-color: var(--invoice-bg);
  padding: 6px 12px;
  border-radius: 2px;
  cursor: pointer;
  color: black;
}

.button:hover {
  background-color: var(--bg-clr);
}

a {
  text-decoration: none;
}

input {
  display: table-cell;
  font-size: 14px;
}

.frames {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.frame {
  position: relative;
  padding: 8px;
  height: auto;
  background: var(--white);
}

.footer {
  padding-bottom: 8px;
}

.table-container {
  margin-bottom: 8px;
  width: 100%;
  overflow: scroll;
}

thead {
  text-align: left;
  height: 30px;
}

td,
th {
  padding: 0px 6px;
}

.reference_row:nth-child(odd) {
  background-color: #e7e7e9;
}

.field_group {
  padding-right: 12px;
  margin-bottom: 12px;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #2f2929;
  margin-bottom: 12px;
}

.row {
  position: relative;
}

.row.required::after {
  display: block;
  content: "*";
  position: absolute;
  font-size: 24px;
  left: 100%;
  top: 50%;
  transform: translateY(-20%);
  padding-left: 12px;
  color: red;
}

table {
  margin: 12px 0;
  overflow: auto;
}

#bibtex_frame {
  opacity: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bibtex-title {
  font-size: 14px;
  font-weight: 700;
  padding-top: 8px;
}

.bibtex {
  background-color: var(--invoice-bg);
  padding: 12px;
}

.bibtex-copy {
  width: fit-content;
}

pre {
  font-family: monospace;
}
